[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
supervisor = "*"
honcho = "*"
gunicorn = "*"
redis = "*"
msgpack = "*"
python-dateutil = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.9"
